@import "~bootstrap/scss/bootstrap";
@import "./sass/node";

html, body, #root, #app, #app>div {
  height: 100%
}

.App {
  text-align: center;
}

.pathfinding-visualizer {
  min-height: 100%;
  height: 100%;
}

.navbar {
  height: 10%;
}

.grid {
  margin: 10px 0 0;
}

.grid-row {
  display: block;
  margin-bottom: -5px;
}